.container {
    width: 1110px;
    margin: 0 auto;
}
.header__logo {
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    color: gray;
    font-size: 20px; 
}

.header__list{
    text-align: center;
}
.header__list li {
    display: inline-block;
    padding-left: 25px;
}
.header__list li a {
    text-decoration: none;
    color: lightgray;
    font-weight: 7px;
}

.header__list li a:hover {
    color: #04b5e1;
    border-bottom: solid 2px;
}
.container1 {
    padding: 30px;
    background-color: whitesmoke;
}

.container2 {
    padding: 30px;
    background-color: whitesmoke;
    padding-bottom: 270px;
}
.container1 h3{
    color: #04b5e1
}
.container2 h3{
    color: #04b5e1
}

.to-right {
    display: inline-block;
    position:relative;
    float:right;
}

footer .container {
    padding: 25px
}